@font-face { font-family: Vollkorn; src: url("../fonts/Vollkorn.otf"); }
@font-face { font-family: Vollkorn; font-weight: bold; src: url("../fonts/Vollkorn-Bold.otf"); }
@font-face { font-family: Vollkorn; font-style: italic; src: url("../fonts/Vollkorn-Italic.otf"); }
@font-face { font-family: Vollkorn; font-weight: bold; font-style: italic; src: url("../fonts/Vollkorn-BoldItalic.otf"); }
