<!DOCTYPE HTML>
<html>
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/fontface.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/stylesheets/solarized.css" type="text/css" media="screen, projection" />
</html>
<body>
  <div id="header" class="header">
    <h1><a href="/">stdin<span>.se</span></a></h1>
  </div>
  {{ content }}
</body>
